/* 头部分 */
#head {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 5em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	backdrop-filter: blur(10px);
	background-color: #ffffff78;
}

#head-img-div {
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#head-img-div>img {
	height: 100%;
}

#head-img-div-h2-img>* {
	margin: 0;
}

#head-li-div {
	margin-right: 2em;
}

/* 背景*/
#background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: repeating-linear-gradient(359deg, rgb(182 196 255) 0%, rgb(207 225 255 / 78%) 100%);
	transition: filter 1s;
}
#background.a{
	filter: hue-rotate(10deg);
}
#background.b{
	filter: hue-rotate(0deg);
}
#background.c{
	filter: hue-rotate(-10deg);
}

/* 尾部分 */
#tail {
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10em;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: #ffffff78;
    flex-direction: column-reverse;
    align-items: center;
}
#SearchSuggestions{
	position: fixed;
    top: -4em;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
	transition:opacity 0.2s
}
#SearchSuggestions > a{
	backdrop-filter: blur(10px);
    background-color: #ffffff82;
    border-radius: 2em;
    padding: 0.5em;
    font-size: 1.2em;
    margin: 0.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	transition: flex 0.5s;
}
#SearchSuggestions > a:hover{
	cursor: pointer;
	background-color: #ffffff;
	flex: none;
}

#tail-in {
	display: flex;
	width: 80%;
	align-items: center;
	justify-content: center;
}

#restart,
#send {
	height: 4em;
	width: 7em;
	border: 0;
	border-radius: 1.5em;
	background-color: #ffffff9e;
}

#restart:hover,
#send:hover {
	background-color: #ffffff;
	cursor: pointer;
}

/* #send {
	height: 4em;
	width: 5em;
	border: 0;
	border-radius: 1.5em;
	background-color: #dfbcff;
} */

#input {
	border: none;
	resize: none;
	outline: none;
	width: 100%;
	height: 100%;
	background-color: #ffffff00;
}

#input:focus-visible {
	border: 0;
}

#input-div {
	border-radius: 1.5em;
	flex: 1;
	height: 4em;
	background-color: #ffffff;
	padding: 1em;
	margin: 0 1em;
}


/* 页面部分 */
#body-top {
	height: 20vh;
	width: 100%;
}

#body-bottom {
	height: 20em;
	width: 100%;
}

/* 聊天选项部分 */
#chatTypeDiv{
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
	margin-bottom: 7em
}
#chatTypeDiv>.chatTypeChose{
	background-color: #ffffffcc;
    border-radius: 2em;
    width: 9em;
    height: 4em;
    margin: 1em 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	border: 0.5em solid #ffffffcc;
	cursor: pointer;
}
#chatTypeDiv>.chatTypeChose>p{
	margin: 0;
	text-align: center;
}
#chatTypeDiv>.chatTypeChose>h3{
	margin: 0;
	text-align: center;
}
#chatTypeChoseCreate.Chose{
	background-color: #904887;
    color: white;
	cursor: default;
}
#chatTypeChoseBalance.Chose{
	background-color: #2870EA;
    color: white;
	cursor: default;
}
#chatTypeChoseAccurate.Chose{
	background-color: #006880;
    color: white;
	cursor: default;
}


/* 聊天部分,在页面内 */
.bing {
	display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.my {
	text-align: right;
	font-size: 1.3em;
}

.InternalSearchQuery ,.InternalLoaderMessage{
	margin-left: 1em;
	font-size: 1.3em;
}
.InternalSearchQuery>p ,.InternalLoaderMessage>p{
	margin: 0;
    margin-bottom: 1em;
}

.adaptiveCardsFatherDIV,.my > .bobo {
	display: inline-block;
	background-color: #ffffff;
	border-radius: 1em;
	padding: 1em 1em;
	max-width: 85%;
	margin-bottom: 3em;
	text-align: left;
}
.adaptiveCardsFatherDIV .throttling {
	text-align: end;
	font-size: 0.4em;
	margin-top: 0.5em;
	margin-bottom: -2em;
	border-top: 1px solid #0000005c;
}
.bing>.sourceAttributions {
	font-size: 1.2em;
	max-width: 85%;
	margin: 0;
	margin-top: -2em;
	margin-bottom: 2em;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	background-color: #ffffff57;
	border-radius: 2em;
	padding: 0.5em;
}


.bing>.sourceAttributions>a {
	display: inline-block;
	background-color: #ffffff73;;
	border-radius: 1em;
	padding: 0.5em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin: 0.1em;
	color: #000000;
	text-decoration: none;
	transition: flex 0.5s;
}

.bing>.sourceAttributions>a:hover{
	background-color: #ffffffb3;
	flex: none;
}




#chat .error {
	text-align: center;
	color: red;
}





